.menu {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	flex-grow: 1;
}
.option {
	font-weight: 600 !important;
	justify-content: space-between;
}
.data-list {
	min-width: 6.5rem;
}
.tabs {
	flex-grow: 1;
	margin-left: 2rem;
}
.tabs[data-size="l"] {
	padding-top: 0.5rem;
	--tui-height-l: 2.5rem;
}
.span {
	font-weight: 600;
}
.segments {
	box-sizing: content-box;
	--t-height: 100%;
	--t-width: 100%;
}
.btn[tuiButton] {
	font-size: 0.875rem;
	gap: 1rem;
	font-weight: 500;
}
.btn-wrapper {
	border: none;
	padding: 0;
}
