.menu {
	min-width: 18rem;
}

.avatar {
	cursor: pointer;
}

.header {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--tui-text-secondary);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
}

.add-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.buttons {
	display: flex;
	gap: 0.5rem;
	flex-direction: row;
}

.buttons {
	display: flex;
	gap: 0.5rem;
	flex-direction: row;
}

.btn[tuiButton] {
	font-weight: 600;
	width: 100%;

	&::after {
		font-size: 1.25rem;
	}
}

.footer {
	padding: 0.5rem 1rem 0.625rem;
	font-size: 0.875rem;
}

.p {
	align-self: flex-start;
	margin: 0;
}

.email {
	max-width: 10rem;
}
