.button {
	color: rgb(80, 80, 80);
}

.colors-blok {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.colors-blok__line {
	display: flex;
	gap: 0.2rem;
}

.colors-blok__button {
	cursor: pointer;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 3px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.colors-blok__button-color {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	box-sizing: border-box;
	aspect-ratio: 1 / 1;
	border: 1px solid #cccccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.colors-blok__button:hover {
	border: 1px solid #cccccc;
	.colors-blok__button-color {
		border: none;
	}
}
