:host {
	border-radius: 1.25rem;
}
.separator {
	width: 100%;
}
.option {
	padding: 0 0.5rem !important;
	min-block-size: 2rem !important;
	font-size: 0.875rem !important;
	font-weight: 500 !important;
	gap: 0.75rem !important;
	&::before {
		font-size: 1.25rem;
	}
}
