.option {
	font-weight: 600 !important;
	justify-content: space-between;
}
.data-list {
	min-width: 5.2rem;
}
.a {
	display: flex;
	height: calc(2rem + 2px);
	margin: 0;
	padding-left: 1rem;
	padding-right: 0;
	color: var(--tui-text-primary);
	gap: 0.25rem;
}
.a[tuiTab]::before {
	font-size: 1.25rem;
}
.input-inline {
	font-size: 0.875rem;
	z-index: -1;
}
.editable {
	z-index: 1;
}
.button {
	margin-top: 2px;
	margin-inline-end: 4px;
	height: 30px;
	width: 30px;
}
