:host {
	display: flex;
	grid-area: toolbar;
}
.input {
	font-weight: 500;
	border-radius: 0;
	font-size: 0.875rem;
}
.value {
	flex-grow: 1;
	padding: 0 1rem;
	&::before {
		font-size: 1.25rem;
	}
	& > .input {
		padding-inline-start: 3rem;
	}
}
.cell {
	width: 6rem;
	& > .input {
		text-align: center;
		font-weight: 600;
		padding: 0.25rem;
	}
	font-size: 0.875rem;
}
.option {
	padding: 0 0.5rem !important;
	min-block-size: 2rem !important;
	font-size: 0.875rem !important;
	font-weight: 500 !important;
	gap: 0.75rem !important;
	&::before {
		font-size: 1.25rem;
	}
	width: 100%;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}
.formulas {
	border-radius: 1.25rem;
	width: 240px;
}
.dropdown {
	border-radius: 0;
	font-weight: 600;
	font-size: 0.875rem;
	color: var(--tui-text-secondary);
	&:hover {
		color: var(--tui-text-primary);
	}
}
