.row {
	display: flex;
	align-items: center;
}
.line {
	flex-grow: 1;
	background-color: var(--tui-border-normal);
	height: 1px;
}
.vertical-line {
	height: auto;
	width: 1.5px;
}
.column {
	flex-direction: column;
	height: 100%;
}
