:host {
	flex-grow: 1;
	padding: 14%;
}

.intro-link {
	display: block;
	width: 100%;
	height: fit-content;
	transition: color 0.2s;
	color: var(--tui-text-primary);
	&:hover {
		color: var(--text-secondary);
	}
	&:active {
		color: var(--text-tertiary);
	}
}
