:host {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.input-inline {
	font-size: 1.125rem;
	font-weight: 500;
	min-width: 8rem;
}

.input {
	height: 2rem;
	color: var(--tui-text-primary) !important	;
}
