/* You can add global styles to this file, and also import other style files */
tui-root {
	--text-primary: #1b1f3b;
	--text-secondary: #6b6d7f;
	--text-tertiary: #a4a5b1;
	--background-base: #fff;
	--background-base-dark: #fff;
}

tui-root[tuiTheme="dark"] {
	--text-primary: #1b1f3b;
	--text-secondary: #dbdbdb;
	--text-tertiary: #b9b9b9;
	--background-base: #222;
}

[tuiTabs]:before,
tui-tabs:before {
	block-size: 3px !important;
}
