<table tuiTable class="table" [columns]="ss.columnLetters">
	<th
		tuiTh
		[minWidth]="48"
		class="tbody-tr-th btn"
		(click)="ss.selectAllCells()"
	></th>
	<thead class="thead">
		<tr tuiThGroup>
			<th tuiTh [minWidth]="48" class="tbody-tr-th"></th>
			@for (col of ss.sheetValues?.[0]; let i = $index; track $index) {
				<th
					tuiTh
					[minWidth]="48"
					[resizable]="true"
					class="thead-tr-th"
					[class.highlighted-th]="
						i === ss.focusedCell.x ||
						(i >= ss.selectedCells.min.x && i <= ss.selectedCells.max.x)
					"
					[class.selected-th]="
						i >= ss.selectedColumns.start && i <= ss.selectedColumns.end
					"
					(click)="ss.setSelectedColumn(i)"
				>
					{{ ss.getColumnLetter(i) }}
				</th>
			}
		</tr>
	</thead>
	<tbody tuiTbody class="tbody">
		@for (row of ss.sheetValues; let i = $index; track $index) {
			<tr tuiTr class="tr">
				<th
					tuiTh
					class="tbody-tr-th"
					[class.highlighted-th]="
						i === ss.focusedCell.y ||
						(i >= ss.selectedCells.min.y && i <= ss.selectedCells.max.y)
					"
					[class.selected-th]="
						i >= ss.selectedRows.start && i <= ss.selectedRows.end
					"
					(click)="ss.setSelectedRow(i)"
				>
					{{ i + 1 }}
				</th>
				@for (cell of row; let j = $index; track $index) {
					<td
						tuiTd
						tuiDropdownContext
						#dropdown="tuiDropdown"
						[tuiDropdown]="contextMenu"
						class="td"
						[class.highlighted-td]="
							i >= ss.selectedCells.min.y &&
							i <= ss.selectedCells.max.y &&
							j <= ss.selectedCells.max.x &&
							j >= ss.selectedCells.min.x
						"
						[class.selected]="i === ss.focusedCell.y && j === ss.focusedCell.x"
						(click)="handleCellClick(i, j, $event)"
						(dblclick)="handleCellDoubleClick(i, j)"
					>
						<tui-input-inline
							[class.no-events]="false"
							class="input"
							[class.pointer-events-all]="
								ss.editingCell.x === j && ss.editingCell.y === i
							"
						>
							<input
								[value]="
									ss.focusedCell.x === j && ss.focusedCell.y === i ? ss.userInput : cell
								"
								[appSetFocus]="ss.editingCell.x === j && ss.editingCell.y === i"
								[appBlur]="ss.editingCell.x !== j || ss.editingCell.y !== i"
								(ngModel)="(ss.userInput)"
								(change)="onChange(i, j, $event)"
							/>
						</tui-input-inline>

						<ng-template #contextMenu let-close>
							<app-context-menu [data]="{ i, j }" [close]="close" />
						</ng-template>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
