<div class="container">
	<table tuiTable class="table" [columns]="ss.columnLetters" tabindex="0" #table>
		<th
			tuiTh
			[minWidth]="48"
			class="tbody-tr-th btn"
			(click)="ss.selectAllCells()"
		></th>
		<thead class="thead">
			<tr tuiThGroup>
				<th tuiTh [minWidth]="48" class="tbody-tr-th"></th>
				@for (col of ss.sheetValues?.[0]; let i = $index; track $index) {
					<th
						tuiTh
						[minWidth]="48"
						[resizable]="true"
						class="thead-tr-th"
						[class.highlighted-th]="
							i === ss.focusedCell.x || ss.isCellColInSelectedRange(i)
						"
						[class.selected-th]="
							i >= ss.selectedColumns.start && i <= ss.selectedColumns.end
						"
						(click)="ss.setSelectedColumn(i)"
					>
						{{ ss.getColumnLetter(i) }}
					</th>
				}
			</tr>
		</thead>
		<tbody tuiTbody class="tbody">
			@for (row of ss.sheetValues; let i = $index; track $index) {
				<tr tuiTr class="tr">
					<th
						tuiTh
						class="tbody-tr-th"
						[class.highlighted-th]="
							i === ss.focusedCell.y || ss.isCellRowInSelectedRange(i)
						"
						[class.selected-th]="
							i >= ss.selectedRows.start && i <= ss.selectedRows.end
						"
						(click)="ss.setSelectedRow(i)"
					>
						{{ i + 1 }}
					</th>
					@for (cell of row; let j = $index; track $index) {
						<td
							tuiTd
							class="td"
							[class.highlighted-td]="
								ss.isCellRowInSelectedRange(i) && ss.isCellColInSelectedRange(j)
							"
							[class.selected]="i === ss.focusedCell.y && j === ss.focusedCell.x"
							(dblclick)="handleCellDoubleClick(i, j)"
							[appScrollIntoView]="scrollNeed(i, j)"
							[class]="{
								br:
									(i >= ss.copiedCells.start.row &&
										i <= ss.copiedCells.end.row &&
										j + 1 === ss.copiedCells.start.col) ||
									(i >= ss.copiedCells.start.row &&
										i <= ss.copiedCells.end.row &&
										j === ss.copiedCells.end.col),
								bt:
									j >= ss.copiedCells.start.col &&
									j <= ss.copiedCells.end.col &&
									i - 1 === ss.copiedCells.end.row,
								bb:
									j >= ss.copiedCells.start.col &&
									j <= ss.copiedCells.end.col &&
									i + 1 === ss.copiedCells.start.row,
							}"
							(mousedown)="handleMouseDown(i, j, $event)"
							(mouseenter)="handleMouseEnter(i, j)"
							(mouseup)="handleMouseUp()"
						>
							<tui-input-inline
								[class.no-events]="false"
								class="input"
								[class.pointer-events-all]="
									ss.editingCell.x === j && ss.editingCell.y === i
								"
							>
								<input
									tabindex="-1"
									[value]="
										ss.editingCell.x === j && ss.editingCell.y === i ? ss.userInput : cell
									"
									[appSetFocus]="ss.editingCell.x === j && ss.editingCell.y === i"
									[appBlur]="ss.editingCell.x !== j || ss.editingCell.y !== i"
									(ngModel)="(ss.userInput)"
									(change)="handleChange(i, j, $event)"
									(keydown.escape)="handleEscape(i, j, $event)"
									(keydown.enter)="handleEnter(i, j, $event)"
								/>
							</tui-input-inline>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
</div>
