:host {
	display: flex;
	grid-area: header;
	background-color: var(--text-primary);
	color: var(--background-base);
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100% !important;
	height: 3rem;
	padding: 0 1rem;
	gap: 1.5rem;
	box-shadow: var(--tui-shadow-medium);
}
