@let items = contextMenuService.menuItem;
<tui-data-list role="menu" tuiDataListDropdownManager class="context-menu">
	@for (item of items; track $index) {
		@if (!item.children) {
			<button
				tuiOption
				new
				type="button"
				(click)="contextMenuService.onAction(item.action, data, close)"
				class="context-menu__button"
			>
				<span class="context-menu__content">
					<span class="context-menu__left">
						<tui-icon [icon]="item.icon" />
						{{ item.title }}
					</span>
					<span class="context-menu__right">
						{{ item.expand }}
					</span>
				</span>
			</button>

			@if (($index + 1) % 3 === 0 && $index + 1 !== items.length) {
				<hr class="context-menu__line" />
			}
		} @else {
			<button
				tuiOption
				new
				type="button"
				tuiDropdownSided
				tuiDropdownAlign="right"
				[tuiDropdown]="nestedMenu"
				class="context-menu__button"
			>
				<span class="context-menu__content">
					<span class="context-menu__left">
						<tui-icon [icon]="item.icon" />
						{{ item.title }}
					</span>
					<span class="context-menu__right">
						{{ item.expand }}
					</span>
				</span>
			</button>

			<ng-template #nestedMenu>
				<tui-data-list>
					@for (childItem of item.children; track $index) {
						<button
							tuiOption
							new
							type="button"
							(click)="
								contextMenuService.onNestedAction(
									item.action,
									childItem.direction,
									data,
									close
								)
							"
						>
							{{ childItem.label }}
						</button>
					}
				</tui-data-list>
			</ng-template>
		}
	}
</tui-data-list>
