.context-menu__button {
	width: 100%;
	padding: 0.5rem 1rem;
}

.context-menu__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.context-menu__left {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.context-menu__right {
	color: var(--tui-text-02);
}

.context-menu__line {
	width: 100%;
}
